.Search-buttons {
  margin: 25px;
  font-size: 20pt;
}

.Search-filer {
  float: right;
  margin-top: 6px;
  font-style: italic;
  font-size: 0.8em;
  margin-right: 10px;
}

.Search-filtering {
  margin-top: 15px;
}

.Search-filtering-button {
  margin-top: 23px;
}

.Search-filtering-datepicker p {
  margin-bottom: 0px;
}

.Search-filtering-datepicker-input {
  width: 110px;
}