{% extends 'navigation.html' %}
{% block content %}

<p> The application has access to over 12.5 million news articles, written in English, published by 89 news sources. Each of these articles have been visible on a landing page of their source. It is possible to search for any news topic in the whole dataset. </p>

<p> 10 most frequent <b>named entities</b> can be found for any topic. It can also be displayed as word cloud</p>

<p> <b>Sentiment analysis</b> can be displayed for any news articles topic. Also, <b>sentiment analysis</b> can be compared between many different topics. To compare <b>sentiment analysis</b> of e.g. covid and pfizer, it must be divided by | character. Example: <i>covid | pfizer</i> </p>

{% endblock %}