{% extends 'search.html' %}

{% block sub_content %}
<p hidden> {% block nav_title %}Articles{% endblock %}</p>


<div class="container">
  <div class="row">

    <div class="col-md-12 col-lg-8">

      <div class="row">
        {% for i in data.entities.named %}

          <div class="col-sm-12 col-md-6 col-lg-4" style="margin-bottom: 10px;">
            <a href="#" id="{{i.id}}" onclick="append_entity_to_search({{i}})" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{i.entity}}</h5>
                <small class="text-muted">{{i.count}}</small>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{i.count_ratio_normalized}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{i.count_ratio_normalized}}%</div>
              </div>
<!--              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{i.limited_count_ratio}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{i.limited_count_ratio}}%</div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{i.total_count_ratio}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{i.total_count_ratio}}%</div>
              </div>-->
            </a>
          </div>

        {% endfor %}
      </div>
    </div>

    <!-- Display articles -->
    <div class="col-md-12 col-lg-4">
      {% for i in data.articles %}

        <div class="col-md-12 col-lg-12 Article-box">
          <div class="card Article-box-card">
            <div class="card-body">
              <h5 class="card-title">{{ i.title }}</h5>
              <p class="card-text">{{ i.description }}</p>
              <div class="Article-footer">
                <p class="card-link u-floatRight u-marginRight">{{ i.source }}</p>
                <p class="card-link u-marginLeft"> {{ i.publish_date }} </p>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

      <div>
        <p id="more-articles">Button</p>
      </div>
    </div>

  </div>
</div>

<script>
entitiesButtonOnClickHandler();

function append_entity_to_search(obj) {
  element = document.getElementById(obj["id"]);
  isAlreadyPicked = element.classList.contains("Entity-box--picked");

  if(isAlreadyPicked) {
    element.classList.remove("Entity-box--picked");
    remove_from_search_bar(obj["entity"]);
  } else {
    element.classList.add("Entity-box--picked");
    append_to_search_bar(obj["entity"]);
  }
}

function entitiesButtonOnClickHandler() {
  document.getElementById("more-articles").onclick = function moreArticles() {
    var filter = {
      "articles_limit": 10
    };
    redirectURL("/entities", filter)
  }
}

</script>

{% endblock %}
