{% extends 'navigation.html' %}
{% block content %}

<form class="d-flex align-items-center flex-nowrap" id="search-form">
  <input id="main-search-input" class="form-control" name="search" type="text" placeholder="Search" />
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<ul class="Search-filer">
  <li>Sort</li>
  <li>Sources</li>
  <li>Language</li>
  <li>Date From</li>
  <li>Date To</li>
</ul>

<div class="Search-buttons">
  <div style="margin-bottom: 5px">     
    <button id="articles-button" type="button" class="btn btn-outline-primary">Articles</button>
    <button id="entities-button" type="button" class="btn btn-outline-primary">Entities</button>
    <button id="sentiment-button" type="button" class="btn btn-outline-primary">Sentiment</button>
  </div>

  <div id="search-buttons-entities" style="margin-bottom: 5px">
    <button id="entities-filter-button" type="button" class="btn btn-outline-primary">Filter</button>
    <button id="entities-cloud-button" type="button" class="btn btn-outline-primary">Word Cloud</button>
  </div>

  <div id="search-buttons-sentiment" style="margin-bottom: 5px">
    <button id="sentiment-filter-button" type="button" class="btn btn-outline-primary">Filter</button>
    <button id="sentiment-stats-button" type="button" class="btn btn-outline-primary">Something</button>
  </div>

</div>

<div class="container Content-frame">
    {% block sub_content %}{% endblock %}
</div>

<script>
var debug = false;

// Assign search input values from the URL
document.getElementById("main-search-input").value = getQueryParameter("search");

buttonOnClickHandler();
buttonClassHandler();

//function append_to_search(str) {
//  append_to_search_bar(str)
//  document.getElementById("main-search-input").value = document.getElementById("main-search-input").value + obj["entity"];
//}

function convertSearchObjectToQueryString() {
  var searchValue = document.getElementById("main-search-input").value
  var queryString = "";
  if(searchValue) {
    queryString =  "?search=" + document.getElementById("main-search-input").value;
  }
  return queryString;
}

function getQueryParameter(type) {
  const queryString = window.location.search;
  return new URLSearchParams(queryString).get(type);
}

// Handle class elements of the main buttons
function buttonClassHandler() {
  pathname = window.document.location.pathname;
  if(pathname === "/") {
    modifyElementClass("articles-button", "btn-primary", "btn-outline-primary");
    articles_buttons();
  }
  if(pathname === "/entities" || pathname === "/entities-cloud") {
    modifyElementClass("entities-button", "btn-primary", "btn-outline-primary");
    entities_buttons();
  }
  if(pathname === "/entities") {
    modifyElementClass("entities-filter-button", "btn-primary", "btn-outline-primary");
  }
  if(pathname === "/entities-cloud") {
    modifyElementClass("entities-cloud-button", "btn-primary", "btn-outline-primary");
  }
  if(pathname === "/sentiment" || pathname === "/sentiment-stats") {
    modifyElementClass("sentiment-button", "btn-primary", "btn-outline-primary");
    sentiment_buttons();
  }
  if(pathname === "/sentiment") {
    modifyElementClass("sentiment-filter-button", "btn-primary", "btn-outline-primary");
  }
  if(pathname === "/sentiment-stats") {
    modifyElementClass("sentiment-stats-button", "btn-primary", "btn-outline-primary");
  }
}

function articles_buttons() {
  document.getElementById("search-buttons-sentiment").style.display = "none";
  document.getElementById("search-buttons-entities").style.display = "none";
}

function sentiment_buttons() {
  document.getElementById("search-buttons-sentiment").style.display = "block";
  document.getElementById("search-buttons-entities").style.display = "none";
}

function entities_buttons() {
  document.getElementById("search-buttons-sentiment").style.display = "none";
  document.getElementById("search-buttons-entities").style.display = "block";
}

function buttonOnClickHandler() {
  document.getElementById("articles-button").onclick = function articles() {
    redirectURL("/")
  }
  document.getElementById("entities-button").onclick = function entities() {
    redirectURL("/entities")
  }
  document.getElementById("entities-filter-button").onclick = function sentiment() {
    redirectURL("/entities")
  }
  document.getElementById("entities-cloud-button").onclick = function sentiment() {
    redirectURL("/entities-cloud")
  }
  document.getElementById("sentiment-button").onclick = function sentiment() {
    redirectURL("/sentiment")
  }
  document.getElementById("sentiment-filter-button").onclick = function sentiment() {
    redirectURL("/sentiment")
  }
  document.getElementById("sentiment-stats-button").onclick = function sentiment() {
    redirectURL("/sentiment-stats")
  }
}

function redirectURL(source) {
  var url = window.location.origin + source + convertSearchObjectToQueryString();
  window.location = url;
}

function modifyElementClass(id, addClass, removeClass) {
  var element = document.getElementById(id);
  element.classList.remove(removeClass);
  element.classList.add(addClass);
}



</script>

{% endblock %}
