{% extends 'search.html' %}

{% block sub_content %}
<p hidden> {% block nav_title %}Sentiment analysis{% endblock %}</p>

<div class="Sentiment-info">
  <button style="margin-left: 12px;" type="button" onclick="triggerSentimentInfo()" class="btn btn-outline-info">Information</button>
</div>

<div id="Sentiment-infotext-percentage" class="Sentiment-infotext">
  <p>Sentiment analysis is done using the tool VADER. To determine the compound sentiment of an article, a compound score is given for each article between -1 and 1, where -1 is very negative and 1 is very positive.</p>
</div>

<div class="Sentiment-Graph">
  <p class="Sentiment-Graph-text" onclick="triggerSentimentGraphPercentageInfo()">Results are given in percentage</p>
  <div id="Sentiment-Graph-percentage" class="Sentiment-Graph-infotext">
    <p>The results are based on the compound score of each article related to the search:</p>
    <ul>
      <li>Very negative sentiment: score <= -0,75</li>
      <li>Negative sentiment: score > -0,75 and score <= 0,05</li>
      <li>Neutral sentiment: score > -0,05 and score < 0,05</li>
      <li>Positive sentiment: score > 0,05 and score < 0,75</li>
      <li>Very positive sentiment: score => 0,75</li>
    </ul>
  </div>
  <canvas id="normalized" width="600" height="400"></canvas>
</div>
<div class="Sentiment-Graph">
  <p class="Sentiment-Graph-text" onclick="triggerSentimentGraphFrequencyInfo()">Results are based on number of articles</p>
  <div id="Sentiment-Graph-frequency" class="Sentiment-Graph-infotext">
    <p>The results are based on the compound score of each article related to the search:</p>
    <ul>
      <li>Very negative sentiment: score <= -0,75</li>
      <li>Negative sentiment: score > -0,75 and score <= 0,05</li>
      <li>Neutral sentiment: score > -0,05 and score < 0,05</li>
      <li>Positive sentiment: score > 0,05 and score < 0,75</li>
      <li>Very positive sentiment: score => 0,75</li>
    </ul>
  </div>
  <canvas id="frequency" width="600" height="400"></canvas>
</div>


<h3>Articles count</h3>
<canvas id="count" width="600" height="400"></canvas>

<div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Search keyword</div>
      </div>
      <span class="badge bg-danger rounded-pill u-marginRight">Very negative</span>
      <span class="badge bg-danger rounded-pill u-marginRight">Negative</span>
      <span class="badge bg-light text-dark rounded-pill u-marginRight">Neutral</span>
      <span class="badge bg-success rounded-pill u-marginRight">Positive</span>
      <span class="badge bg-success rounded-pill u-marginRight">Very positive</span>
      <span class="badge bg-primary rounded-pill u-marginRight">Total</span>
    </li>

  {% for i in data %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div>{{i.search}}</div>
      </div>
      <span class="badge bg-danger rounded-pill u-marginRight">{{i.sentiment_analysis["compound"]["lowest"]["freq"]}}</span>
      <span class="badge bg-danger rounded-pill u-marginRight">{{i.sentiment_analysis["compound"]["low"]["freq"]}}</span>
      <span class="badge bg-light text-dark rounded-pill u-marginRight">{{i.sentiment_analysis["compound"]["middle"]["freq"]}}</span>
      <span class="badge bg-success rounded-pill u-marginRight">{{i.sentiment_analysis["compound"]["high"]["freq"]}}</span>
      <span class="badge bg-success rounded-pill u-marginRight">{{i.sentiment_analysis["compound"]["highest"]["freq"]}}</span>
      <span class="badge bg-primary rounded-pill u-marginRight">{{i.articles_count.total}}</span>
    </li>
  {% endfor %}

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">total</div>
    </div>
    <span class="badge bg-danger rounded-pill u-marginRight">{{art_count["v_neg"]}}</span>
    <span class="badge bg-danger rounded-pill u-marginRight">{{art_count["neg"]}}</span>
    <span class="badge bg-light text-dark rounded-pill u-marginRight">{{art_count["neu"]}}</span>
    <span class="badge bg-success rounded-pill u-marginRight">{{art_count["pos"]}}</span>
    <span class="badge bg-success rounded-pill u-marginRight">{{art_count["v_pos"]}}</span>
    <span class="badge bg-primary rounded-pill u-marginRight">{{art_count["total"]}}</span>
  </li>

  </ul>
  
</div>

<script>

var COLORS = JSON.parse('{{ colors | tojson}}');

function getColor(index) {
  if(COLORS.length < index-1) {
    // Get numbers from 1 to 10
    return COLORS[Math.floor(Math.random() * 10) + 1];
  } else {
    return COLORS[index];
  }
}

_labels = []
{% for item in labels %}
  _labels.push("{{ item }}")
{% endfor %}

_count_labels = []
{% for item in data %}
  _count_labels.push("{{ item.search }}")
{% endfor %}


var sentiment_infotext_percentage = "#Sentiment-infotext-percentage";
var sentiment_graph_percentage_info = "#Sentiment-Graph-percentage";
var sentiment_graph_frequency_info = "#Sentiment-Graph-frequency";

setInvisible(sentiment_infotext_percentage);
setInvisible(sentiment_graph_percentage_info);
setInvisible(sentiment_graph_frequency_info);

function triggerSentimentInfo() {
  if(isVisible(sentiment_infotext_percentage)) {
    setInvisible_slow(sentiment_infotext_percentage);
  } else {
    setVisible_slow(sentiment_infotext_percentage);
  }
}

function triggerSentimentGraphPercentageInfo() {
  if(isVisible(sentiment_graph_percentage_info)) {
    setInvisible_slow(sentiment_graph_percentage_info);
  } else {
    setVisible_slow(sentiment_graph_percentage_info);
  }
}

function triggerSentimentGraphFrequencyInfo() {
  if(isVisible(sentiment_graph_frequency_info)) {
    setInvisible_slow(sentiment_graph_frequency_info);
  } else {
    setVisible_slow(sentiment_graph_frequency_info);
  }
}

function createNormalizedDataset() {
  var datasets = []
  var index = 0
  {% for s in data %}
    new_data_set = {
    backgroundColor: getColor(index),
    borderColor: getColor(index),
    borderWidth: 1,
    label: "{{s.search}}",
    data : [
      "{{s.sentiment_analysis["compound"]["lowest"]["norm"]}}",
      "{{s.sentiment_analysis["compound"]["low"]["norm"]}}",
      "{{s.sentiment_analysis["compound"]["middle"]["norm"]}}",
      "{{s.sentiment_analysis["compound"]["high"]["norm"]}}",
      "{{s.sentiment_analysis["compound"]["highest"]["norm"]}}"
    ]}
  
    datasets.push(new_data_set);
  
    index++;
  {% endfor %}

  return datasets
}

function createFrequencyDataset() {
  var datasets = []
  var index = 0
  {% for s in data %}
    new_data_set = {
    backgroundColor: getColor(index),
    borderColor: getColor(index),
    borderWidth: 1,
    label: "{{s.search}}",
    data : [
      "{{s.sentiment_analysis["compound"]["lowest"]["freq"]}}",
      "{{s.sentiment_analysis["compound"]["low"]["freq"]}}",
      "{{s.sentiment_analysis["compound"]["middle"]["freq"]}}",
      "{{s.sentiment_analysis["compound"]["high"]["freq"]}}",
      "{{s.sentiment_analysis["compound"]["highest"]["freq"]}}"
    ]}
  
    datasets.push(new_data_set);
  
    index++;
  {% endfor %}

  return datasets
}

function createCountDataset() {
  var datasets = []
  var col = []
  var d = []
  {% for s in data %}
    d.push("{{s.articles_count["total"]}}")
  {% endfor %}

  new_data_set = {
    backgroundColor: COLORS,
    borderColor: [
      'rgb(0, 0, 0)'
    ],
    borderWidth: 1,
    label: "Articles count",
    data : d
  }
  datasets.push(new_data_set);

  return datasets
}

drawGraph("normalized", _labels, createNormalizedDataset(), "bar");
drawGraph("frequency", _labels, createFrequencyDataset(), "bar");
drawGraph("count", _count_labels, createCountDataset(), "doughnut");


function drawGraph(type, lab, data, bartype) {
  var ctx = document.getElementById(type).getContext('2d');
  var myChart = new Chart(ctx, {
      type: bartype,
      data: {
        labels: lab,
        datasets: data
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
  });
}

function setVisible_slow(elementId) {
  $(elementId).show( "slow", function() {
  });
}

function setInvisible(elementId) {
  $(elementId).hide();
}

function setInvisible_slow(elementId) {
  $(elementId).hide( "slow", function() {
  });
}

</script>

{% endblock %}