{% extends 'search.html' %}

{% block sub_content %}
<p hidden> {% block nav_title %}Sentiment analysis{% endblock %}</p>

<p>Sentiment</p>
<canvas id="chart" width="600" height="400"></canvas>

<script>
  datasets_array = []

  {% for s in data %}
    new_data_set = {
      fillColor: "rgba(151,187,205,0.2)",
      strokeColor: "rgba(151,187,205,1)",
      pointColor: "rgba(151,187,205,1)",
      label: "Dataset 2",
      data : [
        "{{s.sentiment_analysis["lowest"]["freq"]}}",
        "{{s.sentiment_analysis["low"]["freq"]}}",
        "{{s.sentiment_analysis["middle"]["freq"]}}",
        "{{s.sentiment_analysis["high"]["freq"]}}",
        "{{s.sentiment_analysis["highest"]["freq"]}}"
      ]
    }

    datasets_array.push(new_data_set)
  {% endfor %}

  // bar chart data
  var barData = {
    labels : [
      {% for item in labels %}
        "{{ item }}",
      {% endfor %}
	  ],
    datasets : datasets_array
  }

  // get bar chart canvas
  var mychart = document.getElementById("chart").getContext("2d");

    steps = 10
    max = {{max}}

  // draw bar chart
  new Chart(mychart).Bar(barData, {
    scaleOverride: true,
    scaleSteps: steps,
    scaleStepWidth: Math.ceil(max / steps),
    scaleStartValue: 0,
    scaleShowVerticalLines: true,
    scaleShowGridLines : true,
    barShowStroke : true,
    scaleShowLabels: true
    }
  );

</script>

{% endblock %}